@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700|Poppins:400,400i,700,700i');
/* Stella body */
body{
  margin: 0;
  font-family: Gentium Book Basic, serif;
}
.sBody{
  position: relative;
}

/* misc */
.flexCenterContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexCenterItem{
  align-self: center;
}

/* sections */
.section{
  padding: 100px 0;
}
.textSection{
  padding: 50px 0;
  max-width: 1024px;
  margin: auto;
  font-size: 24px;
  text-align: center;
  font-family: Gentium Book Basic, serif;
  font-size: 24px;
  line-height: 42px;
}
.eventSection{
  background: rgba(120, 120, 120, 0.1);
  position: relative;
}
.shareSection{
  background: url('../img/headerMarmol.svg');
  background-size: cover;
  background-position: center;
  padding: 25px 0;
}
.photoSection{
  background: #000;
}


/* header */
.sHeader{
  position: relative;
  width: 100%;
  margin: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background: url('../img/headerMarmol.svg');
  background-size: cover;
  background-position: center;
}
.logoMesa{
  max-width: 200px;
}
.termsNconditions{
  position: absolute;
  top: 30px;
  right: 30px;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline;
}


/* event */
.sectionTitle{
  position: absolute;
  top: -26px;
  left: 0;
  text-align: center;
  background: #000;
  color: #fff;
  box-shadow: 0 10px 10px -10px #000;
  width: 425px;
}
.sectionTitle h1{
  font-weight: 100;
  margin: 0;
  font-size: 30px;
  line-height: 52px;
}
.cheffTile{
}
.cheffPhoto{
  border-radius: 50%;
  width: 100%;
  box-shadow: 0 0 10px -5px #000;
}
.cheffText{
  padding-top: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 25px;
  font-size: 14px;
  text-align: justify;
}
.dateTile{
  border-bottom: solid 2px #BC1421;
  font-family: Gentium Book Basic, serif;
  line-height: 20px;
  box-sizing: border-box;
}
.dateTile h3{
  /* fecha */
  font-style: italic;
  color: #BC1421;
  font-size: 20px;
}
.dateTile h1{
  /* chef */
  font-size: 30px;
}
.dateTile h2{
  /* lugar */
  font-size: 25px;
}



.placeTile{
  background: #fff;
  padding: 0;
  padding-bottom: 27px;
  font-family: Poppins, sans-serif;
  box-shadow: 0 0 10px -7px #000;
}
.placeTile img{
  width: 100%;
}
.placeText{
  padding: 20px;
  font-style: italic;
  text-align: center;
}
.menuContainer{
  text-align: center;
}
.menuLink{
  color: #BC1421;
  font-family: Poppins, sans-serif;
  font-style: italic;
  font-weight: bold;
  line-height: 25px;
  font-size: 14px;
}

.buyButtonContainer{
  width: 100%;
  position: absolute;
  bottom: -27px;
  left: 0;
  text-align: center;
  font-family: Gentium Book Basic, serif;
  font-style: normal;
  font-weight: normal;
  line-height: 42px;
  font-size: 24px;
  text-align: center;
}
.buyButton{
  width: 250px;
  padding: 6px 0;
  background: #BC1421;
  color: #fff;
  display: inline-block;
  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.2);
  transition: all ease 0.5s;
}
.buyButton:hover{
  box-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
  transform: translate(1px, 1px);
}
.buyButton p{
  margin: 0;
}

/* share */
.shareSection img{
  vertical-align: middle;
  margin-left: 15px;
}
.shareSection p{
  color: #BC1421;
  font-family: Poppins, sans-serif;
}

/* photos */
.photo{
  width: 100%;
}


.beberConModeracion{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 110;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 -10px 20px -12px #000;
}
.beberConModeracion h5{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: 27px;
  font-size: 12px;
  text-align: center;
}

/* Age validation */

.centerAlign{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-image: url('../img/ageValBack.svg');
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

.ageValDiv{
  text-align: center;
}

#ageValContainer{
  opacity: 1;
  transition: all ease 0.5s;
}
.vanishAgeVal{
  opacity: 0 !important;
  pointer-events: none;
}

.ageInput{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: solid 2px #BC1421;
  width: 130px;
  height: 60px;
}

.ageSubmit{
  display: block;
  margin: auto;
  padding: 10px;
  background: #BC1421;
  color: #fff;
  border:0;
  width: 360px;
  height: 50px;
  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.2);
  transition: all ease 0.5s;
}
.ageSubmit:hover{
  box-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
  transform: translate(1px, 1px);
}

.fullPageGif{
  display: none;
}


@media only screen and (max-width: 768px) {
  /* PHONES */

  .lockScroll{
    overflow: hidden;
  }
  /* head */
  .sHeader{
    padding: 30px 0;
    padding-top: 50px;
  }
  .logoMesa{
    width: 70%;
  }
  .termsNconditions{
    top: 10px;
    right: 10px;
  }
  /* cover */
  .fullPageGif{
    display: block;
  }
  .fullPageVideo{
    display: none;
  }
  /* text */
  .textSection{
    padding: 30px;
  }
  .textSection p{
    line-height: 24px;
    font-size: 14px;
    text-align: center;
  }
  /* date */
  .eventSection{
    padding: 50px 20px;
  }
  .sectionTitle{
    width: 200px;
    top:-17px;
    left: 50%;
    transform: translateX(-50%);
  }
  .sectionTitle h1{
    font-size: 20px;
    text-align: center;
    line-height: 35px;
  }
  .dateTile{
    line-height: 12px;
    border-bottom: 0;
    width: 100%;
  }
  .dateTile h3{
    font-size: 14px;
  }
  .dateTile h1{
    font-size: 18px;
  }
  .dateTile h2{
    font-size: 16px;
  }
  .dateTile .flexCenterItem{
    border-bottom: solid 2px #BC1421;
    width: 100%;
  }
  .cheffTile{
    padding: 20px 0;
  }
  .cheffText{
    line-height: 22px;
    font-size: 12px;
  }
  .placeTile{
    line-height: 25px;
    font-size: 14px;
  }
  .buyButton{
    line-height: 35px;
    font-size: 20px;
    width: 200px;
  }

  /* share */
  .shareSection{
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    padding: 20px;
  }
  .shareSection img{
    width: 18px;
    height: 18px;
  }

  /* phtos */
  .photoSection{
    padding: 8px 4px;
  }
  .photoContainer{
    padding: 4px 8px;
  }
  .photo{
    width: 100%;
  }

  /* ageval */
  .centerAlign{
    background-image: url('../img/mobileAgeValBack.svg');
  }
  .ageValDiv{
    padding: 20px;
  }
  .ageValDiv img{
    width: 100%;
  }
  .ageInput{
    width: 75px;
    height: 40px;
    margin: 0;
  }
  .ageSubmit{
    width: 190px;
    margin-top: 20px;
  }

  /* +18 */
  .sBody{
    padding-bottom: 54px;
  }
  .beberConModeracion{
    padding: 18px;
  }
  .beberConModeracion h5{
    line-height: 18px;
    font-size: 8px;
    margin: 0;
  }
}
